<section class="border-[12px] border-transparent h-min" data-controller="drag" id="list-<%= list.id %>"
  draggable="true"
  data-update-path="<%= board_list_path(@board.id, list) %>"
  data-action="dragstart->drag#dragstart drop->drag#drop dragover->drag#allowDrop dragend->drag#dragend dragleave->drag#dragleave drag->drag#drag">
  <div class="bg-gray-300 p-2 rounded flex flex-col min-w-[272px] ">

  <div  data-controller="editable">
  <h1 class="font-bold text-xl"
      data-action="dblclick->editable#dblclick"
      data-editable-target="name"
  ><%= list.name %></h1>

  <%= form_with model: list, url: board_list_path(@board.id, list.id), html:{hidden:true} do |form|  %>
    <%= form.text_field :name, class: "p-0 font-bold text-xl",  "data-editable-target":"input", "data-action":"focusout->editable#focusout" %>
  <% end %>
  </div>

  <%= render list.tasks.sort_by(&:place), list: list %>

  <!-- We are still in board#show. url has to be specified, auto one is bad -->
  <div data-controller="editable">
    <button data-action="click->editable#dblclick" data-editable-target="name">New Task +</button>
    <%= form_with model: [list, list.tasks.build], url: board_list_tasks_path(@board, list), html:{hidden:true, "data-action":"submit->editable#submit"}  do |form| %>
      <section class="bg-gray-300 p-2 rounded h-min">
        <%= form.hidden_field :list_id, value: list.id %>
        <%= form.text_field :name, class: "p-0", "data-editable-target":"input", "data-action":"focusout->editable#focusout " %>
      </section>

  <% end %>
  </div>
  </div>
</section>
