<section class="bg-gray-300 p-2 rounded gap-2 list flex flex-col" data-controller="drag" id="list-<%= list.id %>"
  data-action="drop->drag#drop dragover->drag#allowDrop">
  <h1 class="font-bold text-xl"><%= list.name %></h1>

  <%= render list.tasks.sort_by(&:place), list: list %>
  <!-- We are still in board#show. url has to be specified, auto one is bad -->
  <%= form_with model: [list, list.tasks.build], url: board_list_tasks_path(@board, list) do |form| %>
    <section class="bg-gray-300 p-2 rounded h-min">
      <%= form.hidden_field :list_id, value: list.id %>
      <%= form.submit "New task +" %>
    </section>
  <% end %>
</section>
