<!-- * Task view within list -->

<section class="border-4 border-transparent [&.dragged]:border-none" id="task-<%= task.id %>"
         draggable="true"
         data-action="dragstart->drag#dragstart dragover->drag#dragover dragend->drag#dragend dragleave->drag#dragleave drag->drag#drag"
         data-update-path="<%= board_list_task_path(@board.id, list.id, task) %>"
         data-controller="editable">

  <!-- Editable task name -->
  <div class="bg-white px-2 w-64 actual-task">

    <h1 data-action="dblclick->editable#dblclick" data-editable-target="name"><%= task.name %></h1>
    <%= form_with model: task, url: board_list_task_path(@board.id, list.id, task.id), html: { hidden: true, "data-action": "submit->editable#submit" } do |form| %>
      <%= form.hidden_field :list_id, value: list.id %>
      <%= form.text_field :name, class: "p-0", "data-editable-target": "input", "data-action": "focusout->editable#focusout", autocomplete: :off %>
      <%= form.submit class: "hidden" %>
    <% end %>

  </div>

</section>