<section class="bg-white px-2 w-64"  id="task-<%= task.id %>"
         draggable="true"
         data-action="dragstart->drag#dragstart dragover->drag#dragover dragend->drag#dragend dragleave->drag#dragleave drag->drag#drag"
         <%# This is part of js not stimulus  %>
         data-update-path="<%= board_list_task_path(@board.id, list.id, task) %>"

         data-controller="editable"
>
  <%# So tailwind will include classes %>
  <%#  bg-comfortable bg-approaching bg-urgent hidden text-white %>
  <div class="<%= task.due_color %> h-5 px-2 rounded-full mt-1.5 mb-[-5px] inline-block text-sm"><%= task.due_date %> </div>
  <h1 data-action="dblclick->editable#dblclick"
  ><%= task.name %></h1>
    <%= form_with model: task, url: board_list_task_path(@board.id, list.id, task.id), html:{hidden:true, "data-action":"submit->editable#submit"} do |form|  %>
    <%= form.hidden_field :list_id, value: list.id %>
    <%= form.text_field :name, class: "p-0",  "data-editable-target":"input", "data-action":"focusout->editable#focusout" %>
  <% end %>

</section>