<%= form_for(resource, html: {class: "flex flex-col items-center gap-2"}, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h1 class="text-2xl font-bold">Log in</h1>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" , class: "rounded bg-grey border-0" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "rounded bg-grey border-0" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
    <!-- Always want to remember user -->
      <%= f.hidden_field :remember_me, value: true %>
    </div>
  <% end %>

  <div class="text-white bg-dark px-8 py-2 rounded">
    <%= f.submit "Log in", class: "" %>
  </div>

  <%= render "devise/shared/links" %>
<% end %>
