  <%= form_with html: {class: "flex flex-col w- gap-2"}, model: @board  do |form| %>
    <h1 class="text-2xl font-bold">Create board</h1>
    <div>
      <%= form.text_field :name, placeholder:"name", class: "rounded bg-grey border-0" %>

      <% @board.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <h1 class="text-xl font-bold">Choose background</h1>
    <div class="flex overflow-auto relative gap-2">
      <% Board::background_urls.each_with_index do |(k,v),index| %>
          <label for="<%= index %>" class="flex-none peer-checked:text-white flex h-44">
            <%= form.radio_button :background_url, k, checked: index.zero?, class: "peer hidden", id: index %>
            <%= image_tag k, alt: v, class: "border-8 peer-checked:border-black" %>
          </label>
      <% end %>

    </div>

    <div class="text-white bg-dark px-8 py-2 rounded w-min">
      <%= form.submit %>
    </div>
  <% end %>