<section>
  <div  data-controller="editable">
    <h1 class="text-2xl font-bold"
        data-action="dblclick->editable#dblclick"
    ><%= @board.name %></h1>

    <%= form_with model: @board, html:{hidden:true, "data-action":"submit->editable#submit"} do |form|  %>
      <%= form.text_field :name, class: "p-0 font-bold text-2xl",  "data-editable-target":"input", "data-action":"focusout->editable#focusout" %>
    <% end %>
  </div>

  <section class="flex gap-5">
    <%= render @board.lists %>

    <div data-controller="editable" class="bg-gray-300 p-2 rounded h-min">

      <button data-action="click->editable#dblclick">New List +</button>
        <%= form_with model: [@board, @board.lists.build], html:{hidden:true, "data-action":"submit->editable#submit"}  do |form| %>
        <%= form.text_field :name, class: "p-0 font-bold text-xl", "data-editable-target":"input", "data-action":"focusout->editable#focusout" %>
    <% end %>
    </div>

  </section>

</section>