<!DOCTYPE html>
<html>
  <head>
    <title>TaskWave</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%#= javascript_include_tag 'application' %>

  </head>

  <body>
    <nav class="bg-dark w-full p-5 flex items-center">
      <a href="<%= root_path %>">
      <%= image_tag("Logo.svg", alt:"Logo of task-wave", class: "w-36 md:w-48") %>
      </a>

      <div class="text-white ml-auto">
      <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>
      <% else %>
          <%= link_to "Login", new_user_session_path %>
      <% end %>
      </div>
    </nav>
    <main class="px-5 mt-4">
      <%= yield %>
    </main>
  </body>
</html>
