<!DOCTYPE html>
<html class="overflow-x-hidden h-full">
  <head>
    <title>TaskWave</title>
    <meta name="description" content="Organize anything. TaskWave is a tool to help you orginizes your projects into boards. In one glance, know what's being worked on, what's done and everything else in your project.">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://taskwave-95876f6bfce4.herokuapp.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="TaskWave">
    <meta property="og:description" content="TaskWave is a trello clone made by Farouq Jalabi">
    <meta property="og:image" content="/OG-logo.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="taskwave-95876f6bfce4.herokuapp.com">
    <meta property="twitter:url" content="https://taskwave-95876f6bfce4.herokuapp.com">
    <meta name="twitter:title" content="TaskWave">
    <meta name="twitter:description" content="TaskWave is a trello clone made by Farouq Jalabi">
    <meta name="twitter:image" content="/OG-logo.png">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body class="h-full flex flex-col">
    <nav class="bg-dark w-full p-5 flex items-center ">
      <a href="<%= root_path %>">
      <%= image_tag("Logo.svg", alt:"Logo of task-wave", class: "w-36 md:w-48") %>
      </a>

      <div class="text-white ml-auto">

      <%= link_to "About", about_path %>
      <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>
      <% else %>
          <%= link_to "Login", new_user_session_path %>
      <% end %>
      </div>
    </nav>

      <%= yield %>
  </body>
</html>
